@use '_variables.scss' as *; 

.form__card {
    max-width: 420px;
    margin: 30px auto;
    background: $card-background-color; 
    text-align: left;
    padding: 40px;
    border-radius: 5px;
    box-shadow: $drop-shadow;
}

.form__label {
    font-size: 18px;
    font-weight: 600;
    color: $font-dark-gray;
    letter-spacing: 0px;
}

.form__input {
    width: 100%;
    padding: 15px 10px;
    border: solid 0.5px #C1C1C1;
    border-radius: 5px;
    box-sizing: border-box;

    &:focus{
        outline: none;
    }
}

.form__error {
    font-size: 14px;
    margin-top: 15px;
    color: $primary-red;
    font-weight: 600;
}

