p, h3, ul{
    margin: 0;
    padding: 0;
}

/*.box{
    padding: 100px 0;
    width: 300px;
    text-align: center;
    background-color: #ddd;
    margin: 10px;
    display: inline-block;
}*/

body{
    background-color: #eee;
    max-width: 960px;
    margin: 20px auto;
}

li{
    list-style-type: none;
    background-color: #fff;
    margin: 20px auto;
    padding: 10px 20 px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

li.fav{
    background-color: #ff9ed2;
    color: white;
}

img{
    width: 10%;
}