@use '../globals/variables' as *; 

.equipment {

    &__card {
    max-width: 175px;
    background: $card-background-color; 
    text-align: left;
    border-radius: 5px;
    box-shadow: $drop-shadow;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    margin-right: 14px;
    }

    &__img {

    }

    &__name {

    }
}
