@use '../globals/variables' as *; 

.tabBox{
    max-width: 550px;
    margin: 0 auto;

    @media screen and (max-width: 750px) {
        margin-left: 0px;
        width: auto;
    }

    .tabs{
        margin: 0;
        overflow: hidden;
        margin-bottom: -1px;
        height: 2.5em;
        padding: 0;

        li{
            float: left;
            list-style: none;
            margin-left: -0.1em;
            padding: .25em .25em .25em .25em;
            height: 2em;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        li.selected {
            z-index: 3;
        }

        a {
            float: left;
            height: 3em;
            line-height: 2em;
            border-radius: 7px 7px 0 0;
            border-bottom: 0;
            padding: 0 20px;
            color: #000;
            text-decoration: none;
            box-shadow: #CCC 0 0 .25em;
            background: #fff;

            &:hover{
                background: $primary-light-gray;
            }
        }

        .selected a {
            background: #FFF;
            box-shadow: #CCC 0 0 .25em;
            

        }
    }

    .content {
        clear: left;
        position: relative;
        z-index: 2;
        background: #FFF;
        border-radius: 0 7px 7px 7px;
        box-shadow: #CCC 0 0 .25em;
        margin-left: 0.15em;
        width: 100%;
        display: flex;

        div{
            //color: $primary-light-gray;
            align-self: center;
            padding: 10px 10px 5px 10px;

            span{
                color: $primary-light-gray;
            }
        }

        input{
            padding: 15px 5px;
            border:none; 
            width: 100%;
            &:focus{
                outline: none;
            }
        }

    }
    
    .options{
        margin-left: 2px;
        background: #fff;
        margin-top: -15px;
    
        ul{
            list-style: none;
            text-align: left;
            max-height: 107px;
            overflow-y: scroll;
            overflow-x: hidden;
            box-shadow: #CCC 0 0 .25em;
            border-radius: 0 0 5px 5px;   
            padding: 0;        
        }
    
        li{
            width: 100%;
            padding: 1px 4px;
            cursor: pointer;

            a{
                text-decoration: none;
                color: #000;
            }

            p{
                padding: 0 0 0 10px;
            }
    
            &:hover{
                background: $primary-light-gray;  
                color: white; 
            }
        }
    }
}


