@import "../globals/variables";

header {
   display: flex;
  justify-content: space-between;
  align-items: center;
}
  .icon {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .logo-img{
      width: 100px;
      height: 50px;
      left: 0px;
      display: flex;
      align-items: center;
  }

  //items 

  .item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
  }
  .item:hover {
    background:#80BA72;
  }
  .plus-item{
      display: flex;
      align-items: center;
  }
//icon plus

  .plus-icon{
    background-color: #FA5D5D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
  }

//icon heart

  .heart-icon{
    font-size: 1.08rem;
    padding: 5px 5px;
  }
  
  //notification
  
  .notification {
    font-size: 1.08rem;
    text-decoration: none;
    padding: 5px 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .sign {
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 0px 10px;
    border-radius: 50%;
    background:#FA5D5D;
    color: white;
  }

  //profil not loggin in

.user-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

  .user-icon{
  background-color: #d4bfbf;
  margin: 2px;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 10px;
  align-items: center;
  a {
    font-size: 36px;
    color: black;
  }
}
  
.profil{
  display: flex;
  justify-content: center;
}

  .profil-img{
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  //logout

  .logout{
    color: black;
    text-decoration: none;
    display: flex;
    padding-top: 5px;
    a{
      color: black;
      text-decoration: none;
    }
    a:visited {
      color: pink;
      text-decoration: none;
    }
  }

  //user logged in

.user-container{
  display: flex;
  justify-content: center;

}

  .user-loggin{
    display: none;
  }