
@use "../globals/variables" as *;

.footer {
  max-width: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 55px;
  background-color: white;
  box-shadow: 0px -2px 7px rgb(0 0 0 / 0.1);
}

.footer__content {
    max-width: 1100px;
    margin: 0 auto;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    text-decoration: none;

    @media screen and (max-width: 1100px) {
      max-width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      
      
    }

    a {
        padding: 8px;
        font-size: 22px;
        text-decoration: none;
        color: #000;
        list-style: none;
    }
    :focus {
        color: $primary-red;
        text-decoration: none;
      }
    :visited {
        text-decoration: none;
        color: 000;
        text-decoration: none;
      }
    a:hover {
        text-decoration: none;
    }
    // i {
    //     background-color: white;
    //     border-radius: 50%;
    //     border: 1px solid grey;
    //     padding: 10px;
    //   }
    /* .notes{
         
     }*/
 }
