/* COLORS */
$yellow: rgb(248, 227, 37);
$black: black;
$white: white;
$lightgrey: lightgrey;

/* FONTS */
$primary-font: Arial, Helvetica, sans-serif;

/* MEDIA QUIERIES */
$tablet: 768px;
$desktop: 1200px;