@use '_variables.scss' as *; 

.btnPrimaryGreen{
    background:#80BA72 ;
    color: $font-white; 
    border: none; 
    border-radius: 10px;
    padding: 10px 25px;

    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    
}

.btnClose{
    background: #80BA72;
    border: none; 
    color: white; 
    padding: 5px;
    border-radius: 3px;
}