@use '_variables.scss' as *; 

///** ALL FONTS **///
h1, h2, h3, h4, h5, h6, p, a, li{
    font-family: $primary-font; 
} 
///** HEADLINES FONT STYLES**///
.headline{
    font-size: 20px;
    font-weight: 600;
    color: $font-dark-gray;
}
.subHeadline{
    font-size: 18px;
    font-weight: 600;
    color: $font-dark-gray;
}
/* card headlines */
.card-headline{
    font-weight: 600;
    color: $font-dark-gray;
}
.large .card-headline{
    font-size: 16px;
}
.medium .card-headline{
    font-size: 14px;
}
.small .card-headline{
    font-size: 12px;
}

///** PARAGRAF FONT STYLES **///
.p-light{
    font-size: 14px;
    font-weight: 300;
    color: $font-black;
}
.p-regular{
    font-size: 14px;
    font-weight: 400;
    color: $font-black;
}
///** IMAGE TEXT FONT STYLES **///
.imageTextMedium{
    font-size: 14px;
    font-weight: 500;
    color: $font-white; 
}
.imageTextSmall{
    font-size: 12px;
    font-weight: 600;
    color: $font-white; 
}
///** RECIPE AUTHOR FONT STYLE**///
.cardAuthor{
    font-size: 10px;
    font-weight: 400;
    color: $font-light-gray; 
}
///** BUTTON FONT STYLES **///
.textButtonGreen{
    font-weight: 600;
    color: $font-white;
}
.textButtonNon{
    font-weight: 600;
    color:$font-dark-gray; 
}

/* GOOGLE MATERIAL ICONS */
.material-icons-round {
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }