.buttons__button{
    margin-right:1em;
    padding:.8em 1.5em;
    border:0;
    font-weight: 1000;
  }
  
  
  .button--yellow{
    background-color:rgb(248, 227, 37);
    color:black;
  }
  
  .button--black{
    background-color:black;
    color:white;
  }