body{
    background: #eee;
    max-width: 969px;
    margin: 20px auto;
}

.box{
    padding: 100px 0;
    width: 400px;
    text-align: center;
    background: #ddd;
    margin: 20px;
    display: inline-block;
}

p, h3, ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    background: #fff;
    margin: 20px auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.fav{
    background: #ff9ed2;
    color: #fff;
}