<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello Vue!</h1>
    <div id="app">

    <!--Attribute binding-->
    <a :href="url">Website</a>

        <div v-if="ShowBooks">
            <!--<p>{{title}} - {{author}} - {{age}}</p>-->
            <ul>
                <li v-for="book in filteredBooks" :class="{ fav: book.isFav }" @click="toggleFav(book)">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>
        </div>

        <button @click="toggleShowBooks">
            <!--  v-if and v-else remove from DOM is good when the element doesn't change often-->
            <span v-if="ShowBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>


        <!--  v-show doesn't remove from DOM si good when the element change that often-->
        <!--<div v-show="ShowBooks">Currently showing books</div>-->
        
        
        <!--<p>{{title}} - {{author}} - {{age}}</p>
        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>

        <div @click="ChangeTitle('The Hunger Games')">Change book title</div>-->
       
      
        
        <!-- Mouse events -->
 <!--
        <div class="box" @mouseover ="handleEvent($event, 5)">Mouseover (enter)</div>
        <div class="box" @mouseleave ="handleEvent">Mouseleave</div>
        <div class="box" @dblclick ="handleEvent">Double click</div>
        <div class="box" @mousemove ="handleMousemove">position - {{ x }} {{ y }}</div>-->
    </div>
    
    <script src="app.js"></script>
</body>
</html>