@use '../globals/variables' as *;
@use '../globals/fonts' as *;

.btn{
    color: $font-white; 
    border: none; 
    border-radius: 10px;
    padding: 10px 25px;

    &:hover{
        opacity: 0.8;
    }
}

