@use "../globals/variables.scss" as *;


header {
  position: fixed;
  z-index: 100;
  background-color: white;
  max-width: 100%;
  width: 100%;
}

.header {
  box-shadow: $drop-shadow;
  max-width: 100%;
  width: 100%;
  
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (max-width: 1100px) {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    
    
  }

}


  .icon {
    display: flex;

  }

  .logo-img{
      width: 90px;
      padding-top: 2px;
      
     
  }

  //items 

  .item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
  }

  .plus-item{
      display: flex;
      align-items: center;
  }
//icon plus

  .plus-icon{
    background-color: #FA5D5D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
  }

//icon heart

  .heart-icon{
    font-size: 1.08rem;
    padding: 5px 5px;
  }
  
  //notification
  
  .notification {
    font-size: 1.08rem;
    text-decoration: none;
    padding: 5px 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .sign {
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 0px 10px;
    border-radius: 50%;
    background:#FA5D5D;
    color: white;
  }

  //profil not loggin in

.user-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

  .user-icon{
  background-color: #d4bfbf;
  margin: 2px;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 10px;
  align-items: center;
  a {
    font-size: 36px;
    color: black;
  }
}
  
.profil{
  display: flex;
  justify-content: center;
}

  .profil-img{
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  //logout

  .logout{
    color: black;
    text-decoration: none;
    display: flex;
    padding-top: 5px;
    a{
      color: black;
      text-decoration: none;
    }
    a:visited {
      color: pink;
      text-decoration: none;
    }
  }

  //user logged in

.user-container{
  display: flex;
  justify-content: center;

}

  .user-loggin{
    display: none;
  }